/* MyProfile.css */
/* Use a more specific class or ID for styles */
.new-pass{
  padding: 70px 40px 40px 40px;

}
.cx{
  width: 20%;
  margin-bottom: 20px;
}
.dx{
width: 650px;
height: 550px;
}
.dx1{
  width: 460px;
  height: 510px;
}
.my-profile-container {
    margin: 0 auto;
    max-width: 1400px; /* Adjust as needed */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .my-profile-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    padding: 20px;
  }
  
  .my-profile-btn-primary {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin: 200px;
    line-height: 50px;
    background: linear-gradient(#ffffff, #ffffff) padding-box,linear-gradient(to right, #334ee1,#29d5b1) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
    padding: 15px 40px 15px 40px;
  }
  
  .my-profile-btn-primary:hover {
    background: linear-gradient(to right, #334ee1,#29d5b1) border-box;
    color: #ffffff;
  }
  
  .tt{
    font-weight: 100;
    padding: 0px;
  }
  .tt1{
    width: 1365px;
    margin: 0px;
    margin-bottom:40px;
    padding: 0px;
    border: 0px;
  }

  .card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(to right, #ba28ff, #604eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight:bold;
    flex: 0 0 calc(33.333% - 20px); /* Adjust width of each card */
    margin-bottom: 60px;
  }


  .n-box {
    position: absolute;
    bottom: 0;
    padding: 15px 0px;
    text-align: center;
    border: 1px  solid #eaeaea;
    background-image: linear-gradient(to bottom right, #334ee1,#29d5b1);
    width: 100%;
    color: #fff;
  }

  .card-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  
  
  
  .tc1{
    border-bottom: 1px solid #e8e2e2;
    border-top: 1px solid #e8e2e2;
    margin-bottom: 40px;
  } 
  .tc{
    margin-left: 100px;
    border-bottom: 1px solid #e8e2e2;
    border-top: 1px solid #e8e2e2;
    padding: 40px 0px 40px 40px;
  }
  @media (max-width: 992px) {
    .card-box {
      flex-basis: calc(50% - 20px); /* Two cards in a row on smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .card-box {
      flex-basis: 100%; /* Single card in a row on mobile screens */
    }
  }
  
  .pi{
    width: 400px;
    height: 400px;
  }
  .progress-container {
    display: flex;
    align-items: center;
  }
  
  .links-container {
    margin-left: auto; /* Push the links to the right side */
  }
  
  .links-container a {
    margin-left: 10px; /* Add spacing between the links if needed */
  }
  .CircularProgressbar{
    width: 400px;
    height: 400px;
  }
  .sv{
    width: 0px;
    height: 0px;
  }